:host {
  @media (prefers-reduced-motion: no-preference) {
    --transition: 500ms cubic-bezier(0.6, 0.01, 0.05, 0.95);
  }
  background-color: #b7b7b7;
  border-radius: calc(var(--size, 2.5rem) / 2);
  box-shadow: 0.25em 0.25em 0.5em #2d302f20;
  color: #525252;
  display: inline-block;
  height: var(--size, 2.5rem);
  padding: 0.125em;
  position: relative;
  transition: background-color var(--transition);
  width: calc(var(--size, 2.5rem) * 2);
}

:host([active]) {
  background-color: #28d654;
}

button[role='switch'] {
  align-items: center;
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
  display: flex;
  font: inherit;
  inset: 0;
  padding: 0.125em;
  position: absolute;

  span#toggle {
    background-color: #f4f4f4;
    border-radius: 50%;
    color: inherit;
    display: grid;
    font-size: 1.25em;
    height: 100%;
    place-content: center;
    pointer-events: none;
    position: relative;
    transition: transform var(--transition);
    width: 50%;

    div:not([hidden]) {
      display: flex;
    }
  }

  &[aria-checked='true'] span#toggle {
    transform: translateX(100%);
  }
}
