* {
  box-sizing: border-box;
}

:host {
  @media (prefers-reduced-motion: no-preference) {
    --transition: 500ms cubic-bezier(0.6, 0.01, 0.05, 0.95);
  }
  /**
  * @prop --clr-active: Background-color of the toggle on active state
  * @prop --clr-icon: Color of the icon inside the toggle
  * @prop --clr-idle: Background-color of the toggle on idle state
  * @prop --clr-knob: Background-color of the knob
  * @prop --clr-shadow: Color of the shadow used by the toggle and it's knob
  */
  --clr-shadow: #0e141a30;

  button {
    align-items: center;
    appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    border: 0;
    color: inherit;
    cursor: pointer;
    display: flex;
    font: inherit;
    padding: 0.125em;
  }
}

:host(:not([iconOnly])) {
  background: var(--clr-idle, #b7b7b7);
  border-radius: 100rem;
  box-shadow: 0.125em 0.125em 0.5em var(--clr-shadow);
  color: var(--clr-icon, #525252);
  display: inline-block;
  height: var(--size, 2rem);
  position: relative;
  width: calc(var(--size, 2rem) * 1.75);

  button {
    height: 100%;
    width: 100%;

    span#knob {
      background: var(--clr-knob, #f4f4f4);
      border-radius: 50%;
      box-shadow: 0.125em 0 0.5em var(--clr-shadow);
      color: inherit;
      display: grid;
      height: 100%;
      padding: 12.5%;
      place-content: center;
      pointer-events: none;
      position: relative;
      transition: transform var(--transition);
      width: calc(var(--size, 2rem) - 0.125em);

      * {
        height: 100%;
        width: 100%;
      }
    }
  }
}

:host(:not([iconOnly])[active]) {
  background: var(--clr-active, linear-gradient(90deg, #00b4e5, #cf10d9));

  span#knob {
    box-shadow: -0.125em 0 0.5em var(--clr-shadow);
    transform: translateX(75%);
  }
}

:host([iconOnly]) {
  --rotate: -180deg;
  span#knob * {
    transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
  }
}
